<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.hchaojie.snippets"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.READ_CONTACTS" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_CONTACTS" >
    </uses-permission>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" >
    </uses-permission>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="7" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="cn.hchaojie.snippets.SnippetsActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.NoOverLay" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.hchaojie.snippets.view.custom.TestCustomDialog"
            android:label="view/custom/dialog" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.hchaojie.snippets.view.custom.CustomProgressBar"
            android:label="view/custom/progress bar" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.hchaojie.snippets.view.drawable.TestBoxDrawable"
            android:label="view/drawable/drawable box" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.hchaojie.snippets.view.drawable.TestColorMatrix"
            android:label="view/drawable/Color Matrix" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.hchaojie.snippets.view.drawable.TestShadowBackground"
            android:label="view/drawable/test shadow background" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.hchaojie.snippets.view.drawable.TestGradientBox"
            android:label="view/drawable/gradient box" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.hchaojie.snippets.view.layout.TestFlipLayout"
            android:label="view/layout/Flip layout" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.hchaojie.snippets.view.layout.TestOnMeasure"
            android:label="view/layout/Test onMeasure" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.hchaojie.snippets.event.TestTouchEvent"
            android:label="event/touch event dispath" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.hchaojie.snippets.event.TestInterceptTouchEvent"
            android:label="event/touch event intercept" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.hchaojie.snippets.view.TestList"
            android:label="view/list/Test list view" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.hchaojie.snippets.view.TestGrid"
            android:label="view/Test Grid view" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.hchaojie.snippets.view.TestViewPager"
            android:label="view/Test View Pager" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.hchaojie.snippets.view.TestTab"
            android:label="view/Test Tab" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <!-- Tabs test -->
        <activity
            android:name="cn.hchaojie.snippets.view.TestTabFactory"
            android:label="view/tab/tab from factory" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.hchaojie.snippets.view.TestTabContentByIntent"
            android:label="view/tab/tab content by intent" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.hchaojie.snippets.view.TestTabContentById"
            android:label="view/tab/tab content by layout id" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.hchaojie.snippets.view.transform.Transition3d"
            android:label="view/transform/Transition 3D" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.hchaojie.snippets.view.transform.FlipViewActivity"
            android:label="view/transform/Flip view" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.hchaojie.snippets.view.transform.ListTransformActivity"
            android:label="view/transform/List transform Activity" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.hchaojie.snippets.view.pageindicator.TitlesDefault"
            android:label="view/pageindicator/TitleDefault Activity" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.hchaojie.snippets.view.pageindicator.TestTabContainer"
            android:label="view/pageindicator/Tab container" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.hchaojie.snippets.view.TestShadowActivity"
            android:label="view/test shadow activity" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.hchaojie.snippets.view.TestSlidingDrawer"
            android:label="view/test sliding drawer" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.hchaojie.snippets.view.CoverflowActivity"
            android:label="view/cover flow (carousel)" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.hchaojie.snippets.temp.TempActivity"
            android:label="temp activity" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.hchaojie.snippets.apps.HttpConnectActivity"
            android:label="app/test http connection" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.hchaojie.snippets.activity.TestLaunchModeSingleTop"
            android:label="activity/launch mode/Single Top"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.hchaojie.snippets.activity.TestLaunchSingleInstance"
            android:label="activity/launch mode/Single instance"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.hchaojie.snippets.activity.SingleInstanceActivity"
            android:label="activity/launch mode/_single instance activity"
            android:launchMode="singleInstance" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.hchaojie.snippets.activity.SingleInstanceActivity2"
            android:label="activity/launch mode/_single instance activity 2"
            android:launchMode="singleInstance" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.hchaojie.snippets.view.CarouselActivity"
            android:label="view/carousel" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.hchaojie.snippets.data.file.FileDirActivity"
            android:label="data/file/list file dir and cache dir" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.hchaojie.snippets.data.network.NetworkAvailable"
            android:label="data/network/check network available" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.hchaojie.snippets.data.network.TestHttpClient"
            android:label="data/network/http client test" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.hchaojie.snippets.view.pagecurl.TestPageWidget"
            android:label="view/page curl/simple points test" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.hchaojie.snippets.view.pagecurl.TestPageWidget2"
            android:label="view/page curl/simple points test 2" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.hchaojie.snippets.view.pagecurl.TestCanvasRotate"
            android:label="view/page curl/test canvas rotate" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.hchaojie.snippets.view.pagecurl.OriginalPageCurlActivity"
            android:label="view/page curl/Original page curl" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.hchaojie.snippets.view.graphic.TestChromeHeader"
            android:label="view/graphic/Test Chrome Header" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.hchaojie.snippets.utils.TestUrlSpan"
            android:label="utils/URL spane" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.hchaojie.snippets.apps.contacts.DeletePhoneGroupsActivity"
            android:label="app/contacts/delete all groups" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.hchaojie.snippets.apps.contacts.ContactsDataActivity"
            android:label="app/contacts/contact data" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.hchaojie.snippets.apps.contacts.QueryAllPhoneAcitvity"
            android:label="app/contacts/query all phone" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.hchaojie.snippets.apps.contacts.RemoveAccountAcitvity"
            android:label="app/contacts/remove account test" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <receiver android:name="cn.hchaojie.snippets.apps.alarm.HeartbeatAlarm" />

        <activity
            android:name="cn.hchaojie.snippets.apps.parcelable.PutActivity"
            android:label="app/parcelable/issue test" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.hchaojie.snippets.apps.parcelable.GetActivity"
            >
        </activity>
        
        <activity
            android:name="cn.hchaojie.snippets.apps.MediaScannerActivity"
            android:label="app/media scanner" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
    </application>

</manifest>